<h6> [User photo will be here] </h6>

<h1><%= @user.username %></h1>
<h4>About You: </h4>
<h4>Your Email: <%= @user.email %></h4>
<hr />
<h4>Apartment Listings You Created</h4>
<table>
  <thead>
    <tr>
      <th> </th>
      <th>Title</th>
      <th>Address</th>
      <th>price</th>
      <th>id</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @apartments.each do |apt| %>
      <tr>
        <td><a href="/apartments/<%= apt.id %>" >View</a></td>
        <td><%= apt.title %></td>
        <td><%= apt.address %></td>
        <td><%= apt.price %></td>
        <td><%= apt.user_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</h3>