<% if current_user %>
  <h1>Welcome <%= current_user.username %></h1>
  <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  <br>
  <%= link_to "Edit profile", edit_user_registration_path %>
  <%= link_to "Add apartment", new_apartment_path %>
  </div>
<% else %>
  <div class="home">
    <h1>Homie</h1>
    <h2 class="inline"><%= link_to "Log In", new_user_session_url %></h2>
    <h2 class="inline"><%= link_to "Sign Up", new_user_registration_url %></h2>
  </div>
<% end %>

<%= form_tag apartments_search_path, :method => 'get' do %>
  <%= text_field_tag :search, params[:search], :id => 'search_field' %>
  <%= submit_tag "Search", :name => nil %> 
  <%= link_to_function "Clear", "$('search_field').clear()" %>
<% end %> 