<%= form_tag apartments_search_path, :method => 'get' do %>
  <%= text_field_tag :search, params[:search], :id => 'search_field' %>
  <%= submit_tag "Search", :name => nil %> 
  <%= link_to_function "Clear", "$('search_field').clear()" %>
  <%= select_tag "sorting", options_for_select([ "Ratings: high to low", "Ratings: low to high", "Price: high to low", "Price: low to high" ], :selected => params[:sorting]), :onchange => "this.form.submit();" %>
<% end %> 

<h2>Search result</h2>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Address</th>
      <th>price</th>
      <th>rating</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @apartments.each do |apt| %>
      <tr>
        <td><%= link_to apt.title, apt %></td>
        <td><%= apt.address %></td>
        <td><%= apt.price %></td>
        <td><%= apt.average_overall_rating.round(2) if apt.average_overall_rating %></td>
      </tr>
    <% end %>
  </tbody>
</table>
