<script src="https://maps.googleapis.com/maps/api/js?sensor=false&v=3&libraries=geometry,places"></script>

<h2><%= @apartment.title %></h2>
<div id="map"></div>

<% if @user_id == @apartment.user_id %>
	<%= link_to "Edit Apartment", edit_apartment_path(id: @apartment.id) %>
	<p><%= link_to "Delete Apartment", apartment_path(id: @apartment.id), :data => { :confirm => "Are you sure?" }, :method => :delete %></p>
<% else %>
	<p></p>
<% end %>

<% if current_user %>
	<% if current_user.flagged?(Apartment.find(@apartment.id))	%>
		<%= link_to image_tag('/images/unfavorite.png'), favorite_apartment_path(id: @apartment.id), { class: "favorite" } %>
	<% else %>
		<%= link_to image_tag('/images/favorite.png'), favorite_apartment_path(id: @apartment.id), { class: "favorite" } %>
	<% end %>
<% else %>
<%= link_to image_tag('/images/favorite.png'), favorite_apartment_path(id: @apartment.id), { class: "favorite" } %>
<% end %>

<p>
	<% if @apartment.photo.exists? %>
		<%= image_tag @apartment.photo.url(:small) %>
	<% end %>
</p>
<p><br /></p>
<h4 id='apt-street'>
	<%= @apartment.street_address %> 
	<%= @apartment.apartment_number %>
	<%= @apartment.city %>
	<%= @apartment.state %> 
	<span id="apt-zip"><%= @apartment.zip %></span>
</h4>

<p><%= @apartment.description %></p>
<p>$<%= @apartment.price %></p>
<p><%= @apartment.bedrooms %> bedrooms</p>
<p><%= @apartment.bathrooms %> bathrooms</p>
<p> rating: <%= @apartment.average_overall_rating %></p>

<br />
<% if !@reviewed && @loggedIn%>
	<h2>Create Review</h2>

	<%= form_for @review, url: "/reviews", html: {method: :post} do |f| %>

		<div><%= f.label :Overall_Rating %>
		<ul class="rating">
			<% (1..5).each do |i| %>
				<li class="rating_star" data-apt-id="<%= @apartment.id %>" data-stars="<%= i %>" id="<%= "#{@apartment.id}_#{i}" %>"></li>
			<% end %>
		</ul>
		<br />
		<br />
		<br />
		<%= f.select :overall_rating, 1..5 %></div>

		<div><%= f.label :Review %><br />
		<%= f.text_area :review, size: "60x12", placeholder: "What do you think of this place?" %></div>

		<%= f.hidden_field :apartment_id, value: @apartment.id %>

		<div><%= f.submit "Submit" %></div>
	<% end %>
<% end %>

<table>
	<thead>
    <tr>
    	<th></th>
    	<th></th>
    	<th>Picture</th>
		<th>User</th>
		<th>Review</th>
		<th>Overall Rating</th>
    </tr>
  	</thead>

	<tbody>
		<% @reviews.each do |review| %>
			<tr>
				<% if review.user_id == @user_id.to_i %>
					<td>
						<%= link_to "Edit" , edit_review_path(id: review.id) %>
					</td>
					<td>
						<%= link_to "Delete", delete_review_path(id: review.id), :data => { :confirm => "Are you sure?" }, :method => :delete %>
					</td>
				<% else %>
					<td></td>
					<td></td>
				<% end %>
				<td> 
					<% if review.user.photo.exists? %>
						<%= image_tag review.user.photo.url(:thumb) %>
					<% end %>
				</td>
			    <td><%= review.user.username %></td>
			    <td>
				    <% if review.review != nil %>
				    <%= review.review %>
				    <% end %>
			    </td>
			    <td><%= review.overall_rating %></td>
			</tr>
		<% end %>
	</tbody>
</table>


<script type="text/javascript">
$('#corresponed_user').hide();
</script>
