<script src="https://maps.googleapis.com/maps/api/js?sensor=false&v=3&libraries=geometry,places"></script>

<h1><%= @apartment.title %></h1>

<div id="map"></div>

<% if @user_id == @apartment.user_id %>
	<div class="actions">
		<%= link_to "Edit", edit_apartment_path(id: @apartment.id), :class => 'button small' %>
		<%= link_to "Delete", apartment_path(id: @apartment.id), :class => 'button alert small', :data => { :confirm => "Are you sure?" }, :method => :delete %>
	</div>
<% end %>

<% if current_user %>
	<div class="favorite">
	<li id="favo" on="true"></li>
	<% if current_user.flagged?(Apartment.find(@apartment.id))	%>
		<script type="text/javascript">
			$('#favo').removeClass('off-star');
			document.getElementById('favo').setAttribute("on", "true");
		</script>
	<% else %>
		<script type="text/javascript">
			$('#favo').addClass('off-star');
			document.getElementById('favo').setAttribute("on", "false");
		</script>
	<% end %>
	</div>
<% end %>

<% if @apartment.photo.exists? || @pictures.size > 0 %>
	<div class="photos">
		<div class="fotorama" data-nav="thumbs" data-fit="cover" data-keyboard="true" data-allowfullscreen="true" data-width="600px" data-ratio="800/500">
			<% if @apartment.photo.exists? %>
				<%= image_tag @apartment.photo.url(:large) %>
			<% end %>
			<% if @pictures.size > 0 %>
		  		<% @pictures.each do |picture| %>
		  			<% if !picture.image_file_name.nil? %>
						<%= image_tag picture.image.url(:large) %>
					<% end %>
				<% end %>
			<% end %>
		</div>
	</div>
<% end %>

<h4 id='apt-street'>
	<%= @apartment.street_address %> 
	<%= @apartment.apartment_number %>
	<%= @apartment.city %>
	<%= @apartment.state %> 
	<span id="apt-zip"><%= @apartment.zip %></span>
</h4>

<div class="rating-info">
	<div class="rating">
	  <% if !@apartment.average_overall_rating %>
	    <div class="rating-0"></div>
	  <% else %>
	    <% if number_with_precision(@apartment.average_overall_rating, precision: 0) == 0 %>
	      <div class="rating-1 %>"></div>
	    <% else %>
	      <div class="rating-<%= number_with_precision(@apartment.average_overall_rating, precision: 0) %>"></div>
	    <% end %>
	  <% end %>
	</div>
	<% if @reviews.size == 1 %>
		<div class="rating-count">1 rating</div>
	<% else %>
		<div class="rating-count"><%= @reviews.size %> ratings</div>
	<% end %>
</div>


<div class="price"><%= number_to_currency(@apartment.price, unit: "$") %></div>

<div class="details">
	<div class="bedrooms"><%= @apartment.bedrooms.round(0) %> bedrooms</div>
	<div class="bathrooms"><%= @apartment.bathrooms.round(0) %> bathrooms</div>
	<div class="description"><%= @apartment.description %></div>
</div>

<br />
<% if @loggedIn %>
	<h2>Share Photo</h2>

	<%= form_for(@picture, :url => create_picture_path, :html => { method: "post", multipart: true }) do |f| %>
	  <p>Do you live here? Share your photo of the place.</p>
	  <%= f.file_field :image, required: true %>
	  <%= f.hidden_field :apartment_id, value: @apartment.id %>
	  <input class="button tiny" name="commit" type="submit" value="Upload">
	<% end %>
<% end %>

<br />

<% if !@reviewed && @loggedIn %>
	<h2>Create Review</h2>

	<%= form_for @review, url: "/reviews", html: {method: :post} do |f| %>

		<div><%= f.label :Overall_Rating %>
		<ul class="rating">
			<% (1..5).each do |i| %>
				<li class="rating_star" data-apt-id="<%= @apartment.id %>" data-stars="<%= i %>" id="<%= "#{@apartment.id}_#{i}" %>"></li>
			<% end %>
		</ul>
		<br />
		<br />
		<br />
		<%= f.select :overall_rating, 1..5 %></div>

		<div><%= f.label :Review %><br />
		<%= f.text_area :review, size: "60x12", placeholder: "What do you think of this place?" %><br /><br /></div>

		<%= f.hidden_field :apartment_id, value: @apartment.id %>

		<div><%= f.submit "Submit", class: "button small" %><br /><br /></div>
	<% end %>
<% end %>

<% if !@reviews.blank? %>
<h2>Reviews</h2>
<% end %>

<div class="reviews">

<% @reviews.each do |review| %>
	<div class="review">
		<div class="reviewer">
			<div class="reviewer-image">
			<% if review.user.photo.exists? %>
				<%= image_tag review.user.photo.url(:small) %>
			<% end %>
			</div>
		</div>
		<div class="callout">
			<div class="rating">
				<div class="rating-<%= number_with_precision(review.overall_rating, precision: 0) %>"></div>
			</div>

			<% if review.review != nil %>
			    <div class="review-description"><%= review.review %></div>
			<% end %>

			<div class="reviewer-name">
				<%= link_to review.user.username, user_path(id: review.user_id) %>
			</div>
			<div class="review-updated">
				Updated <%= review.user.updated_at.to_formatted_s(:long)  %>
			</div>
			<% if review.user_id == @user_id.to_i %>
				<div class="actions">
					<%= link_to "Edit" , edit_review_path(id: review.id), :class => 'button tiny' %>
					<%= link_to "Delete", delete_review_path(id: review.id), :class => 'button alert tiny', :data => { :confirm => "Are you sure?" }, :method => :delete %>
				</div>
		<% end %>
		</div>
	</div>
<% end %>
</div>



<script type="text/javascript">
$('#corresponed_user').hide();

function handle_favorite() {
	var sel = document.getElementById('favo').getAttribute('on');
	if (sel == "true") {
		$('#favo').addClass('off-star');
		document.getElementById('favo').setAttribute("on", "false");
	} else {
		$('#favo').removeClass('off-star');
		document.getElementById('favo').setAttribute("on", "true");
	}
}

$('#favo').click(function() {
	user_id = <%=(current_user)? current_user.id : nil%>
    apt_id = <%=@apartment.id%>

    $.ajax({
        type: 'POST',
        url: "/apartments/<%= @apartment.id %>/favorite",
        data: JSON.stringify( {user_id: user_id, apartment_id: apt_id} ),
        contentType: "application/json",
        dataType: "json",
        success: handle_favorite(),
        error: function(err) { alert('error occurred on request'); }
    });
});
</script>
