<% flash.each do |key, value| %>
	<div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<%= link_to "Edit Apartment", edit_apartment_path(id: @apartment.id) %>

<h2><%= @apartment.title %></h2>
<p><%= @apartment.address %></p>
<p><%= @apartment.description %></p>
<p>$<%= @apartment.price %></p>
<p><%= @apartment.bedrooms %> bedrooms</p>
<p><%= @apartment.bathrooms %> bathrooms</p>
<p> rating: <%= @apartment.average_overall_rating %></p>


<h2>Create Review</h2>

<%= form_for @review, url: "/reviews", html: {method: :post} do |f| %>

	<div><%= f.label :Overall_Rating %><br />
	<%= f.select :overall_rating, 1..5 %></div>

	<div><%= f.label :Review %><br />
	<%= f.text_area :review, size: "60x12" %></div>

	<%= f.hidden_field :apartment_id, value: @apartment.id %>

	<div><%= f.submit "Submit" %></div>
<% end %>


<table>
	<thead>
    <tr>
    	<th></th>
		<th>User</th>
		<th>Review</th>
		<th>Overall Rating</th>
		<th>Created At</th>
		<th>Updated At</th>
		<th>Apartment</th>
    </tr>
  	</thead>

	<tbody>
		<% @reviews.each do |review| %>
			<tr>
				<td><%= link_to "Edit", edit_review_path(id: review.id) %></td>
			    <td><%= review.user.username %></td>
			    <td><%= review.review %></td>
			    <td><%= review.overall_rating %></td>
			    <td><%= review.created_at %></td>
			    <td><%= review.updated_at %></td>
			    <td><%= review.apartment_id %></td>
			</tr>
		<% end %>
	</tbody>
</table>