<% flash.each do |key, value| %>
	<div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<%= link_to "Edit Apartment", edit_apartment_path(id: @apartment.id) %>

<% if @user_id == @apartment.user_id %>
	<p><%= link_to "Delete Apartment", apartment_path(id: @apartment.id), :data => { :confirm => "Are you sure?" }, :method => :delete %></p>
<% else %>
	<p></p>
<% end %>

<% if current_user %>
	<% if current_user.flagged?(Apartment.find(@apartment.id))	%>
		<%= link_to "Remove from favorite", favorite_apartment_path(id: @apartment.id) %>
	<% else %>
		<%= link_to "Add to favorite", favorite_apartment_path(id: @apartment.id) %>
	<% end %>
<% else %>
<%= link_to "Add to favorite", favorite_apartment_path(id: @apartment.id) %>
<% end %>

<h2><%= @apartment.title %></h2>
<p><%= @apartment.street_address %>, <%= @apartment.apartment_number %></p>
<p><%= @apartment.city %>, <%= @apartment.state %> <%= @apartment.zip %></p>
<p><%= @apartment.description %></p>
<p>$<%= @apartment.price %></p>
<p><%= @apartment.bedrooms %> bedrooms</p>
<p><%= @apartment.bathrooms %> bathrooms</p>
<p> rating: <%= @apartment.average_overall_rating %></p>

<% if !@reviewed %>
	<h2>Create Review</h2>

	<%= form_for @review, url: "/reviews", html: {method: :post} do |f| %>

		<div><%= f.label :Overall_Rating %><br />
		<ul class="rating">
			<% (1..5).each do |i| %>
				<li class="rating_star" data-apt-id="<%= @apartment.id %>" data-stars="<%= i %>" id="<%= "#{@apartment.id}_#{i}" %>"></li>
			<% end %>
		</ul>
		<br />
		<br />
		<br />
		<%= f.select :overall_rating, 1..5 %></div>

		<div><%= f.label :Review %><br />
		<%= f.text_area :review, size: "60x12", value: "What do you think of this place?" %></div>

		<%= f.hidden_field :apartment_id, value: @apartment.id %>

		<div><%= f.submit "Submit" %></div>
	<% end %>
<% end %>

<table>
	<thead>
    <tr>
    	<th></th>
    	<th></th>
		<th>User</th>
		<th>Review</th>
		<th>Overall Rating</th>
    </tr>
  	</thead>

	<tbody>
		<% @reviews.each do |review| %>
			<tr>
				<% if review.user_id == @user_id.to_i %>
					<td>
						<%= link_to "Edit" , edit_review_path(id: review.id) %>
					</td>
					<td>
						<%= link_to "Delete", delete_review_path(id: review.id), :data => { :confirm => "Are you sure?" }, :method => :delete %>
					</td>
				<% else %>
					<td></td>
					<td></td>
				<% end %>
			    <td><%= review.user.username %></td>
			    <td>
				    <% if review.review != nil %>
				    <%= review.review %>
				    <% end %>
			    </td>
			    <td><%= review.overall_rating %></td>
			</tr>
		<% end %>
	</tbody>
</table>


<script type="text/javascript">
$('#corresponed_user').hide();
</script>
